<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <a class="navbar-brand" href="#">
    <img src="../assets/logo.png" class="logo mr-5" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    (click)="isCollapsed = !isCollapsed"
    [class.collapse]="isCollapsed"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['loginPage']">Accueil</a>
      </li>
      <li class="nav-item">
        <ng-container>
          <a class="nav-link" [routerLink]="['simulPage']">Crédit</a>
        </ng-container>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['clientcreationpage']">Client</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Location</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Statistiques</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['adminPage']">Administration</a>
      </li>
    </ul>

    <ng-container *ngIf="user">
      <div class="container d-flex inline-block justify-content-end">
        <div>
          <img src="../assets/login-logo.png" class="" width="20em" alt="" />
        </div>
        <div>
          <em> {{ user.login }} </em>
        </div>
        <div>
          <button
            class="btn btn-outline-secondary"
            type="submit"
            (click)="logOut()"
          >
            Déconnexion
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</nav>
