
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="#">
        <img src="../assets/logo.png" class="logo mr-5"/>
      </a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Crédit</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Location</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Statistiques</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Administration</a>
        </li>
      </ul>
    </div>
  </nav>