<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <a class="navbar-brand" href="#">
    <img src="../assets/logo.png" class="logo mr-5" />
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="loginPage">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="simulPage">Crédit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="clientcreationpage">Client</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Location</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Statistiques</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Administration</a>
      </li>
    </ul>

    <div *ngIf="user">
      🌐<em>{{ user.login }}</em>
      <button class="btn btn-outline-success" (click)="logOut()">
        Déconnexion
      </button>
    </div>
  </div>
</nav>
