<h2 class="mb-5">Création client</h2>

<div
  class="container d-flex justify-content-around form1 alert alert-secondary"
>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmitForm()">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="client_lastName">Nom </label>
          <div>
            <input
              formControlName="clientLastName"
              id="client_last_name"
              name="client_last_name"
              class="form-control"
              type="text"
              required
              minlength="4"
              maxlength="8"
              placeholder="Durand"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="client_firstName">Prenom </label>
          <input
            formControlName="clientFirstName"
            id="client_first_name"
            name="client_first_name"
            class="form-control"
            type="text"
            required
            minlength="4"
            maxlength="8"
            placeholder="JP"
          />
        </div>

        <div class="form-group">
          <label for="client_account">Compte N° </label>
          <input
            formControlName="clientAccount"
            class="form-control"
            name="client_account"
            id="client_account"
            type="number"
            min=""
            max="9999999999"
            placeholder="0123456789"
          />
        </div>

        <div class="form-group">
          <label for="client_address">Adresse </label>
          <input
            formControlName="clientAddress"
            id="client_address"
            name="client_address"
            class="form-control"
            type="text"
            required
            minlength="4"
            maxlength="30"
            placeholder="1 rue des Pinsons"
          />
        </div>

        <div class="form-group">
          <label for="client_birth">Date de naissance </label>
          <input
            formControlName="clientBirthDate"
            id="client_birth_date"
            name="client_birth_date"
            class="form-control"
            type="date"
            id="start"
            name="trip-start"
            value="2019-12-25"
            min="1900-01-01"
            placeholder="Ex:"
          />
        </div>

        <div class="form-group">
          <label for="client_phoneNumber">N° téléphone </label>
          <input
            formControlName="clientPhoneNumber"
            id="client_phone_number"
            name="client_phone_number"
            class="form-control"
            type="tel"
            pattern="[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}"
            required
            placeholder="Ex: 01-23-45-67-89"
          />
        </div>
        <div>
          <button class="btn btn btn-success" type="submit">
            Créer client
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
