<h2 class="mb-5">Simulation d'un contrat de crédit</h2>

<div
  class="container d-flex justify-content-around form1 alert alert-secondary"
>
  <form (ngSubmit)="loanCalculation()" #myform="ngForm">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="car_price">Montant de l'achat </label>
          <div>
            <input
              [(ngModel)]="query"
              id="car_price"
              name="car_price"
              class="form-control"
              type="number"
              min="10000"
              placeholder="Ex: 10000"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="loan_amount">Montant du prêt </label>
          <input
            id="loan_amount"
            name="loan_amount"
            class="form-control"
            type="number"
            min="5000"
            max="50000"
            placeholder="Ex: 5000"
          />
        </div>

        <div class="form-group">
          <label for="car_class">Catégorie de la voiture </label>
          <select
            class="form-control"
            name="car_class"
            id="car_class"
            name="car_class"
          >
            <option *ngFor="let category of categories">{{
              category.name
            }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="loan_duration">Durée du crédit </label>
          <input
            id="loan_duration"
            name="loan_duration"
            class="form-control"
            type="number"
            min="0"
            max="48"
            placeholder="Ex : 36 mois"
          />
        </div>

        <ng-container *ngIf="loan$ | async as loan">
          <div class="form-group">
            <label for="loan_amount">Montant du crédit </label>
            <input
              class="form-control"
              type="text"
              placeholder="Ex: 5000"
            /></div
        ></ng-container>

        <div>
          <button class="btn btn-squared-default btn-success" type="submit">
            Créer simulation
          </button>
        </div>
      </div>
    </div>
  </form>

  <ng-container *ngIf="rate$">
    <div class="list-group">
      <a
        *ngFor="let rate of rate$"
        [routerLink]="rate.rateAmount"
        class="list-group-item list-group-item-action flex-column align-items-start"
      >
        <div class="row">
          <div class="col">
            <h4>
              {{ rate.name }} :
              <small class="text-muted">{{ rate.rateAmount }}%</small>
            </h4>
          </div>
        </div>
      </a>
    </div>
  </ng-container>
</div>
