.form1 {
  justify-content: center;
}

.btn {
  width: 100%;
}

h2 {
  text-align: center;
}

.container {
  width: 60%;
  padding: 2%;
}

.amount {
  background: #fff;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 5px 3px 3px 3px;
  text-align: center;
}

.amount span {
  font-size: 20px;
  font-weight: bold;
}